
<footer class="main-footer">
    <div class="main-container">
        <div class="main-footer__upper">
            <div class="main-footer__row main-footer__row-1">
                <h2 class="heading heading-sm main-footer__heading-sm">
                    <span>Social Media</span>
                </h2>
                <div class="main-footer__social-cont">
                    <a target="_blank"
                       rel="noreferrer"
                       href="https://www.linkedin.com/in/tafadzwakahwai/">
                        <img class="main-footer__icon"
                             src="assets/png/linkedin.png"
                             alt="Tafadzwa Kahwai Linkedin Profile" />
                    </a>
                    <a target="_blank"
                       rel="noreferrer"
                       href="https://github.com/tafadzwaonline">
                        <img class="main-footer__icon"
                             src="assets/png/github-ico.png"
                             alt="Tafadzwa Kahwai Github Profile" />
                    </a>
                   @*  <a href="mailto:kahwaitafadzwa@gmail.com">
                        <img class="main-footer__icon"
                             src="assets/png/gmail.png"
                             alt="kahwaitafadzwa@gmail.com" />
                    </a>
 *@


                    <a target="_blank"
                       rel="noreferrer"
                       href="https://api.whatsapp.com/send?phone=263784706556">
                        <img class="main-footer__icon main-footer__icon--mr-none"
                             src="assets/png/whatsapp.png"
                             alt="Tafadzwa Kahwai WhatsApp" />
                    </a>
                </div>
                <a href="mailto:kahwaitafadzwa@gmail.com" style="font-size: 20px;">
                    Email: kahwaitafadzwa@gmail.com <br />
                </a>
                <a href="mailto:+263784706556" style="font-size: 20px;">
                    Phone: +263 784706556
                </a>


            </div>
            <div class="main-footer__row main-footer__row-2">
                <h2 class="heading heading-sm text-lt">Tafadzwa Kahwai</h2>
                <p class="main-footer__short-desc">
                    Please feel free to contact me on my social media 👉
                </p>
            </div>
        </div>

        <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
        <div class="main-footer__lower">
            &copy; Copyright
            @DateTime.Now.Year
            . Made with
            💖  by
            <a rel="noreferrer"  href="./">Tafadzwa Kahwai</a>
        </div>
    </div>
</footer>