@page "/about"

@layout HeaderLayout

<section id="about" class="about sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main">About Me</span>
            <span class="heading-sec__sub">
                Here you will find more information about me, what I do, and my
                current skills mostly in terms of programming and technology
            </span>
        </h2>
        <div class="about__content">
            <div class="about__content-main">
                <h3 class="about__content-title">Get to know me!</h3>
                <div class="about__content-details">
                    <p class="about__content-details-para">
                        I am a <strong>Full-Stack Developer</strong>  based in Zimbabwe, specializing in Web and Desktop Applications.
                        With a background in computer science from the University of Zimbabwe and professional experience since March 2020,
                        I have honed my skills through individual and collaborative projects. Explore some of my work in the <strong>Projects</strong> section.
                    </p>
                    <p class="about__content-details-para">
                        I am open to job opportunities where I can contribute, learn, and grow. Connect with me on <a rel="noreferrer"
                                                                                                                      href="https://www.linkedin.com/in/tafadzwa-kahwai-b75044177/"
                                                                                                                      target="_blank">Linkedin</a> or contact me on <a target="_blank"
                                                                                                                                                                       rel="noreferrer"
                                                                                                                                                                       href="https://api.whatsapp.com/send?phone=263784706556">
                            WhatsApp

                        </a> for consultations or collaborations.
                        If you have a suitable opportunity that aligns with my skills and experience, please reach out.


                    </p>

                </div>
                <a href="contact" class="btn btn--med btn--theme dynamicBgClr">Contact</a>
            </div>
            <div class="about__content-skills">
                <h3 class="about__content-title">My Skills</h3>
                <div class="skills">
                    <div class="skills__skill">HTML</div>
                    <div class="skills__skill">CSS</div>
                    <div class="skills__skill">JavaScript</div>
                    <div class="skills__skill">React</div>
                    <div class="skills__skill">C#</div>
                    <div class="skills__skill">VB.NET</div>
                    <div class="skills__skill">SASS</div>
                    <div class="skills__skill">ASP.NET (Web Forms, MVC, .NET Core)</div>
                    <div class="skills__skill">Blazor</div>
                    <div class="skills__skill">GIT</div>
                    <div class="skills__skill">Github</div>
                    <div class="skills__skill">Responsive Design</div>
                    <div class="skills__skill">Bootstrap</div>
                    <div class="skills__skill">MSSQL</div>
                    <div class="skills__skill">SAP Crystal Reports</div>
                    <div class="skills__skill">DevExpress (Reports, other components)</div>
                </div>
            </div>
        </div>
    </div>
</section>
