@page "/about"

@layout HeaderLayout

<section id="about" class="about sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
            <span class="heading-sec__main">About Me</span>
            <span class="heading-sec__sub">
                Here you will find more information about me, what I do, and my
                current skills mostly in terms of programming and technology
            </span>
        </h2>
        
        <div class="about__content">
            <div class="about__content-main">
                <h3 class="about__content-title">Get to know me!</h3>
                <div class="about__content-details">
                    <p class="about__content-details-para">
                        Welcome to my profile! I’m <strong>Tafadzwa Kahwai (@GetAge() years old)</strong> , an experienced <strong>System (Developer / Analyst)</strong>  based in Zimbabwe, specializing in creating innovative web and desktop applications.
                        With a BSc in Computer Science from the University of Zimbabwe, I embarked on my professional journey in March 2020 as a junior QA Analyst and junior developer. 
                        Currently, I’m leading the development and maintenance of a pensions administration system at my workplace.
                    </p>
                    <p class="about__content-details-para">
                        With extensive experience in the .NET framework and a deep understanding of various technologies, I am well-equipped to bring your project to life, enhance existing features, or manage your ongoing projects effectively


                    </p>
                   
                    <p class="about__content-details-para">
                        I am open to job opportunities where I can contribute, learn, and grow. Connect with me on <a rel="noreferrer"
                                                                                                                      href="https://www.linkedin.com/in/tafadzwakahwai/"
                                                                                                                      target="_blank">Linkedin</a> or contact me on <a target="_blank"
                                                                                                                                                                       rel="noreferrer"
                                                                                                                                                                       href="https://api.whatsapp.com/send?phone=263784706556">
                            WhatsApp

                        </a> for consultations or collaborations.
                        If you have a suitable opportunity that aligns with my skills and experience, please reach out.


                    </p>
                </div>
                <a href="contact" class="btn btn--med btn--theme dynamicBgClr">Contact</a>
            </div>
            <div class="about__content-skills">
                <h3 class="about__content-title">My Skills</h3>
                <div class="skills">
                    <div class="skills__skill">C#</div>
                    <div class="skills__skill">VB.NET</div>
                    <div class="skills__skill">SQL</div>
                    <div class="skills__skill">HTML</div>
                    <div class="skills__skill">jQuery</div>
                    <div class="skills__skill">Bootstrap 5</div>
                    <div class="skills__skill">CSS</div>
                    <div class="skills__skill">JavaScript</div>
                    <div class="skills__skill">React JS</div>
                    <div class="skills__skill">ASP.NET Webforms</div>
                    <div class="skills__skill">ASP.Net Core</div>
                    <div class="skills__skill">ASP.Net MVC</div>
                    <div class="skills__skill">Blazor</div>
                    <div class="skills__skill">Razor Pages</div>
                    <div class="skills__skill">LINQ</div>
                    <div class="skills__skill">Entity Framework Core</div>
                    <div class="skills__skill">Windows Forms</div>
                    <div class="skills__skill">Restful API</div>
                    <div class="skills__skill">GIT</div>
                    <div class="skills__skill">Github</div>
                    <div class="skills__skill">Microsoft SQL Server</div>
                    <div class="skills__skill">MySQL</div>
                    <div class="skills__skill">SQLite</div>
                    <div class="skills__skill">Azure</div>
                    <div class="skills__skill">SAP Crystal Reports</div>
                    <div class="skills__skill">DevExpress (Reports, other components)</div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    private int GetAge()
    {
        DateTime birthDate = new DateTime(1997, 8, 18);
        int age = DateTime.Today.Year - birthDate.Year;

        if (DateTime.Today < birthDate.AddYears(age))
        {
            age--;
        }

        return age;
    }
}