@page "/projects"

@layout HeaderLayout

<section id="projects" class="projects sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
            <span class="heading-sec__main">Projects</span>
            <span class="heading-sec__sub">
                Here you will find some of the personal and clients projects that I
                created with each project containing its own case study
            </span>
        </h2>

        <div class="projects__content">
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/png/assethome.png"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Asset Management System</h3>
                    <p class="projects__row-content-desc">
                        Introducing an innovative web-based Asset Management System designed to streamline your organization's asset tracking and management processes.
                        This system offers a comprehensive solution to effectively manage your valuable assets such as recording asset information, take inventories, assigning assets to users on short term and long term, asset lending, reporting , calculate asset depreciation and many other functionalities.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-1'>Case Study</a>
                </div>
            </div>
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/png/phoenixhome.png"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Inventory Management System</h3>
                    <p class="projects__row-content-desc">
                        Introducing an Inventory Management System designed to streamline and optimize inventory tracking and management.
                        This system provides real-time inventory updates, enhances accuracy, and reduces manual errors.
                        Key features include automated stock level monitoring, detailed reporting, and user-friendly interfaces for efficient management.
                        This solution is ideal for businesses seeking to improve their inventory control and operational efficiency
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-2'>Case Study</a>
                </div>
            </div>
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/png/radiationhome.png"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Radiation Incoporated Website</h3>
                    <p class="projects__row-content-desc">
                        Introducing a responsive website for Radiation Incorporated.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-3'>Case Study</a>
                </div>
            </div>
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/png/mutezohome.png"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Mutezo Law Website</h3>
                    <p class="projects__row-content-desc">
                        Introducing a responsive website for Mutezo Law Chambers.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-4'>Case Study</a>
                </div>
            </div>

            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/png/porthome.png"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">My Portfolio</h3>
                    <p class="projects__row-content-desc">
                        Introducing a responsive website portfio for Myself 😁.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-4'>Case Study</a>
                </div>
            </div>
        </div>
    </div>
</section>
