@page "/project-1"

@layout HeaderLayout

  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Dopefolio</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          This page contains the case study of Dopefolio Open-Source Project which includes
          the Project Overview, Tools Used and Live Links to the official
          product.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://github.com/rammcodes/dopefolio" class="btn btn--bg" target="_blank" rel="noreferrer">Project
          Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img src="assets/jpeg/dopefolio.jpg" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h2 class="project-details__content-title">Project Overview</h2>

            <p class="project-details__desc-para">
              Dopefolio is an Open-Source project which is a simple and clean multi-page portfolio website template for
              developers. I created this project for developers to quickly build a good-looking and fast-performing
              multi-page portfolio without having to code their portfolio from scratch.</p>
            <p class="project-details__desc-para">
              Since the launch of this project, It has received more than 2k stars on Github and it has also got
              featured on hundreds of sites and CSS-tricks.com has also featured this template as the hottest frontend
              tool of 2021 in one of their articles which you can find <a style="text-decoration: underline;"
                href="https://css-tricks.com/hottest-front-end-tools-in-2021/#aa-58-dopefolio">here</a>
            </p>
            <p class="project-details__desc-para">
              Dopefolio is now being used by thousands of developers globally and it has helped many people in landing
              jobs & opportunities which makes me happy that my creation is helping other people in building their
              careers.
            </p>
            <p class="project-details__desc-para">
              It has many other features like Dopefolio's repo contains a playground link which people can use to test
              the template with different theme colours to find their own preferred primary colour for the template.
            </p>
            <p class="project-details__desc-para">
              Feel free to check out the Project by visiting the Project Link.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h2 class="project-details__content-title">Tools Used</h2>
            <div class="skills">
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">SASS</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Github</div>
            </div>
          </div>
          <div class="project-details__links">
            <h2 class="project-details__content-title">See Live</h2>
            <a href="https://github.com/rammcodes/dopefolio" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">Project Link</a>
            <a href="index.html" class="btn btn--med btn--theme-inv project-details__links-btn">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>
