@page "/projects"

@layout HeaderLayout

<section id="projects" class="projects sec-pad">
    <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
            <span class="heading-sec__main">Projects</span>
            <span class="heading-sec__sub">
                Here you will find some of the personal and clients projects that I
                created with each project containing its own case study
            </span>
        </h2>

        <div class="projects__content">
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/jpeg/dopefolio.jpg"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Dopefolio</h3>
                    <p class="projects__row-content-desc">
                        Dopefolio is a successful Open-Source project that I created
                        which have been featured on some of the biggest tech sites like
                        CSS-Tricks, Hostinger, etc & used by thousands of developers
                        globally
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-1.html' target='_blank'>Case Study</a>
                </div>
            </div>
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/jpeg/wilsonport.jpg"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Wilsonport</h3>
                    <p class="projects__row-content-desc">
                        Wilsonport is a multiservice logistics and transport company and
                        I created their website from scratch using the frontend tools I
                        know.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-2.html' target='_blank'>Case Study</a>
                </div>
            </div>
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/jpeg/boreal-coffee-clone.jpg"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Boreal Coffee Clone</h3>
                    <p class="projects__row-content-desc">
                        I re-created the frontend of Boreal Coffee's official web app
                        because I got attracted to their beautiful UI. It was a great
                        experience for me to build the entire frontend.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-3.html' target='_blank'>Case Study</a>
                </div>
            </div>
            <div class="projects__row">
                <div class="projects__row-img-cont">
                    <img src="assets/jpeg/crown-template.jpg"
                         alt="Software Screenshot"
                         class="projects__row-img"
                         loading="lazy" />
                </div>
                <div class="projects__row-content">
                    <h3 class="projects__row-content-title">Crown Template</h3>
                    <p class="projects__row-content-desc">
                        Crown is a web template that I created targeting the restaurant
                        and food industry which anyone can use to present their business
                        online.
                    </p>
                    <a class='btn btn--med btn--theme dynamicBgClr' href='project-4.html' target='_blank'>Case Study</a>
                </div>
            </div>
        </div>
    </div>
</section>
